In [1]:
import kagglehub
import pandas as pd
dataset = pd.read_csv(r'C:\Users\DOLPHIX ELECTRONICS\.cache\kagglehub\datasets\prajwaldongre\global-financial-giants-by-revenue-2024\versions\1\largest financial services companies by revenue.csv')

C:\Users\DOLPHIX ELECTRONICS\AppData\Roaming\Python\Python312\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

THE DATA SET

In [2]:
dataset

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,245510,42521,873,United States
1,2,Ping An Insurance Group,Insurance,191509,20738,1460,China
2,3,ICBC,Banking,182794,45783,5110,China
3,4,China Construction Bank,Banking,172000,39282,4311,China
4,5,Agricultural Bank of China,Banking,153884,31293,4169,China
5,6,China Life Insurance,Insurance,144589,4648,776,China
6,7,Allianz,Insurance,136173,7756,1297,Germany
7,8,Bank of China,Banking,134045,27952,3739,China
8,9,JP Morgan Chase,Banking,129503,29131,3386,United States
9,10,AXA,Insurance,128011,3605,984,France
10,11,Fannie Mae,Investment Services,106437,11805,3985,United States
11,12,Life Insurance Corporation of India,Insurance,102851,4954,630,India
12,13,Generali Group,Insurance,97128,1987,667,Italy
13,14,Bank of America,Banking,93753,17894,2819,United States
14,15,Citigroup,Banking,88839,11047,2260,United States
15,16,People's Insurance Company,Insurance,84290,2903,192,China
16,17,Credit Agricole,Banking,82958,3067,2399,France
17,18,BNP Paribas,Banking,81632,8052,3045,France
18,19,HSBC,Banking,80429,5229,2984,United Kingdom
19,20,Wells Fargo,Banking,80303,3301,1955,United States
20,21,State Farm,Insurance,78898,3738,299,United States
21,22,Nippon Life,Insurance,76984,3127,773,Japan
22,23,Munich Re,Insurance,74074,1379,364,Germany
23,24,Dai-ichi Life,Insurance,73841,3431,574,Japan
24,25,Banco Santander,Banking,73630,9639,1845,Spain
25,26,MetLife,Insurance,67842,5407,795,United States
26,27,Bank of Communications,Banking,67605,11409,1639,China
27,28,Freddie Mac,Investment Services,66228,7326,2627,United States
28,29,Legal and General Group,Insurance,63324,2061,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,62752,448,343,Canada
30,31,Aviva,Insurance,62579,3588,655,United Kingdom
31,32,China Pacific Insurance,Insurance,61185,3562,271,China
32,33,China Merchants Bank,Banking,60433,14107,1281,China
33,34,Zurich Insurance Group,Insurance,59001,3834,439,Switzerland
34,35,Manulife Financial,Insurance,58840,4377,691,Canada
35,36,Prudential Financial,Insurance,57033,448,940,United States
36,37,Mitsubishi UFJ Financial Group,Banking,56838,7329,3250,Japan
37,38,Prudential,Insurance,55973,2118,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,54139,169,13,United States
39,40,Goldman Sachs,Investment Services,53498,9459,1163,United States
40,41,Industrial Bank,Banking,53313,9655,1209,China
41,42,Shanghai Pudong Development,Banking,52628,8443,1219,China
42,43,Morgan Stanley,Investment Services,52047,10996,1115,United States
43,44,State Bank of India,Banking,51919,3018,662,India
44,45,Tokio Marine Holdings,Insurance,51516,1526,232,Japan
45,46,AIA Group,Insurance,50359,5779,326,China
46,47,China Mensheng Banking,Banking,49076,4972,1065,China
47,48,Power Corporation of Canada,Insurance,48183,1525,493,Canada
48,49,Talanx,Insurance,46788,766,221,Germany
49,50,Lloyds Banking Group,Banking,14592,1882,1183,United Kingdom

In [3]:
dataset.describe()

,Rank,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions)
count,50.00000,50.000000,50.000000,50.00000
mean,25.50000,85435.120000,9369.320000,1480.46000
std,14.57738,44689.154251,11101.187832,1282.83769
min,1.00000,14592.000000,169.000000,13.00000
25%,13.25000,56189.250000,3030.250000,588.00000
50%,25.50000,70736.000000,4963.000000,1024.50000
75%,37.75000,96284.250000,10660.750000,2183.75000
max,50.00000,245510.000000,45783.000000,5110.00000