In [1]:
n = input()

 Diane

In [2]:
n

'Diane'

In [5]:
number1=int(input())
number2 =int(input())
addition=number1+number2

 4
 daniel

ValueError: invalid literal for int() with base 10: 'daniel'

In [6]:
addition

'4Daniel'

In [8]:
number1="Daniel"
type(number1)

str

In [9]:
#complex
z=complex(2,3)
z

(2+3j)

SIMPLE CALCULATOR

In [4]:
# Calculator
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))

def addition():
    add = number1 + number2
    print("Addition =", add)

def subtraction(): 
    sub = number1 - number2
    print("Subtraction =", sub)

def division(): 
    if number2 != 0:
        div = number1 / number2
        print("Division =", div)
    else:
        print("Division by zero is not allowed.")

def multiply(): 
    mult = number1 * number2
    print("Multiplication =", mult)

def modulus(): 
    if number2 != 0:
        mod = number1 % number2
        print("Modulus =", mod)
    else:
        print("Modulus by zero is not allowed.")

# Call all functions
addition()
subtraction()
division()
multiply()
modulus()

Enter the first number:  8
Enter the second number:  2

Addition = 10.0
Subtraction = 6.0
Division = 4.0
Multiplication = 16.0
Modulus = 0.0

In [11]:
#conditionals 
number3 = int(input("Enter the number"))
if number3%2==0:
    print("Even")
else:
    print("Odd")

Enter the number 4

Even

In [10]:
number1=float(input())
number2=float(input())
addition= number1+number2
subtract= number1-number2
div=number1/number2
print(addition)
print(subtract)
if number2==0:
    print("Can't divide by 0")
else:
    print(div)

 8
 4

12.0
4.0
2.0

creating gasing game

In [13]:
word=input()
if 'a' in word:#membership
    print("a is present")
else:
    print("a is not there")

 maria

a is present

In [ ]:
l=[45,20,98,7,65,55]
n=input()
if n in l:
    print("n is present")
else:
    print("n is not present")

In [14]:
for i in range (4,100):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [15]:
# Homework:  
# A more comprehensive example combining concepts
import pandas as pd
import numpy as np

# Create student data
student_data = {
    'Student_ID': range(1, 100),
    'Math': np.random.randint(60, 100, 99),
    'Science': np.random.randint(60, 100, 99),
    'Literature': np.random.randint(60, 100, 99)
}

df = pd.DataFrame(student_data)

In [17]:
df.head(n=4)

   Student_ID  Math  Science  Literature
0           1    85       90          60
1           2    65       86          81
2           3    72       80          89
3           4    79       76          67

In [18]:
df.describe()

       Student_ID       Math    Science  Literature
count   99.000000  99.000000  99.000000   99.000000
mean    50.000000  78.858586  80.303030   79.373737
std     28.722813  11.271248  11.116686   11.562241
min      1.000000  60.000000  60.000000   60.000000
25%     25.500000  69.000000  72.500000   69.500000
50%     50.000000  79.000000  80.000000   81.000000
75%     74.500000  89.000000  89.500000   88.500000
max     99.000000  99.000000  99.000000   99.000000

In [21]:
print("\nMeans")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].mean():.2f}")
print("\nMaximum")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].max():.2f}")
print("\nMinmum")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].min():.2f}")
print("\nStd")
for col in ['Math','Science','Literature']:
    print(f"{col}:{df[col].std():.2f}")

Means
Math:78.86
Science:80.30
Literature:79.37

Maximum
Math:99.00
Science:99.00
Literature:99.00

Minmum
Math:60.00
Science:60.00
Literature:60.00

Std
Math:11.27
Science:11.12
Literature:11.56

In [25]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from seaborn) (2.2.1)
Requirement already satisfied: pandas>=1.2 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.1-cp313-cp313-macosx_11_0_arm64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.55.3-cp313-cp313-macosx_10_13_universal2.whl.metadata (165 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-11.1.0-cp313-cp313-macosx_11_0_arm64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.0-cp313-cp313-macosx_11_0_arm64.whl (8.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 633.3 kB/s eta 0:00:0000:0100:01
Downloading contourpy-1.3.1-cp313-cp313-macosx_11_0_arm64.whl (255 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.55.3-cp313-cp313-macosx_10_13_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 848.8 kB/s eta 0:00:00a 0:00:01
Downloading kiwisolver-1.4.8-cp313-cp313-macosx_11_0_arm64.whl (65 kB)
Downloading pillow-11.1.0-cp313-cp313-macosx_11_0_arm64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 1.1 MB/s eta 0:00:00a 0:00:010m
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.55.3 kiwisolver-1.4.8 matplotlib-3.10.0 pillow-11.1.0 pyparsing-3.2.1 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [26]:
pip install matplotlib

Requirement already satisfied: matplotlib in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (2.2.1)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.3.4_1/libexec/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Collecting tqdm (from opendatasets)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Collecting kaggle (from opendatasets)
  Downloading kaggle-1.6.17.tar.gz (82 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting click (from opendatasets)
  Downloading click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: colorama in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.32.3)
Collecting python-slugify (from kaggle->opendatasets)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (2.3.0)
Requirement already satisfied: bleach in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: webencodings in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle->opendatasets)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kaggle->opendatasets) (3.10)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Downloading click-8.1.8-py3-none-any.whl (98 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (pyproject.toml): started
  Building wheel for kaggle (pyproject.toml): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105854 sha256=ab2833bb7256a5b194b0a7607345125ff832263513cbeaf7585287f7189e992a
  Stored in directory: c:\users\dolphix electronics\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, click, kaggle, opendatasets
Successfully installed click-8.1.8 kaggle-1.6.17 opendatasets-0.1.22 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.67.1
Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))': /packages/00/e7/12300c2f886b846375c78a4f32c0ae1cd20bdcf305b5ac45b8d7eceda3ec/opendatasets-0.1.22-py3-none-any.whl

In [1]:
pip install kaggle

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: kaggle in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (2024.12.14)
Requirement already satisfied: python-dateutil in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from tqdm->kaggle) (0.4.6)

In [7]:
pip install kagglehub

Defaulting to user installation because normal site-packages is not writeable
Collecting kagglehub
  Downloading kagglehub-0.3.6-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: packaging in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kagglehub) (24.2)
Requirement already satisfied: requests in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from requests->kagglehub) (2024.12.14)
Requirement already satisfied: colorama in c:\users\dolphix electronics\appdata\roaming\python\python312\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.6-py3-none-any.whl (51 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.6
Note: you may need to restart the kernel to use updated packages.

IMPORTING DATA SET FROM KAGGLE

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("prajwaldongre/global-financial-giants-by-revenue-2024")

print("Path to dataset files:", path)

C:\Users\DOLPHIX ELECTRONICS\AppData\Roaming\Python\Python312\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/prajwaldongre/global-financial-giants-by-revenue-2024?dataset_version_number=1...

100%|██████████| 1.52k/1.52k [00:00<00:00, 170kB/s]

Extracting files...

Path to dataset files: C:\Users\DOLPHIX ELECTRONICS\.cache\kagglehub\datasets\prajwaldongre\global-financial-giants-by-revenue-2024\versions\1

In [14]:
import pandas as pd
dataset = pd.read_csv(r'C:\Users\DOLPHIX ELECTRONICS\.cache\kagglehub\datasets\prajwaldongre\global-financial-giants-by-revenue-2024\versions\1\largest financial services companies by revenue.csv')

In [15]:
dataset

,Rank,Company,Industry,Revenue in (USD Million),Net Income in (USD Millions),Total Assest in (USD Millions),Headquarters
0,1,Transamerica Corporation,Conglomerate,245510,42521,873,United States
1,2,Ping An Insurance Group,Insurance,191509,20738,1460,China
2,3,ICBC,Banking,182794,45783,5110,China
3,4,China Construction Bank,Banking,172000,39282,4311,China
4,5,Agricultural Bank of China,Banking,153884,31293,4169,China
5,6,China Life Insurance,Insurance,144589,4648,776,China
6,7,Allianz,Insurance,136173,7756,1297,Germany
7,8,Bank of China,Banking,134045,27952,3739,China
8,9,JP Morgan Chase,Banking,129503,29131,3386,United States
9,10,AXA,Insurance,128011,3605,984,France
10,11,Fannie Mae,Investment Services,106437,11805,3985,United States
11,12,Life Insurance Corporation of India,Insurance,102851,4954,630,India
12,13,Generali Group,Insurance,97128,1987,667,Italy
13,14,Bank of America,Banking,93753,17894,2819,United States
14,15,Citigroup,Banking,88839,11047,2260,United States
15,16,People's Insurance Company,Insurance,84290,2903,192,China
16,17,Credit Agricole,Banking,82958,3067,2399,France
17,18,BNP Paribas,Banking,81632,8052,3045,France
18,19,HSBC,Banking,80429,5229,2984,United Kingdom
19,20,Wells Fargo,Banking,80303,3301,1955,United States
20,21,State Farm,Insurance,78898,3738,299,United States
21,22,Nippon Life,Insurance,76984,3127,773,Japan
22,23,Munich Re,Insurance,74074,1379,364,Germany
23,24,Dai-ichi Life,Insurance,73841,3431,574,Japan
24,25,Banco Santander,Banking,73630,9639,1845,Spain
25,26,MetLife,Insurance,67842,5407,795,United States
26,27,Bank of Communications,Banking,67605,11409,1639,China
27,28,Freddie Mac,Investment Services,66228,7326,2627,United States
28,29,Legal and General Group,Insurance,63324,2061,779,United Kingdom
29,30,Brookfield Assest Management,Investment Services,62752,448,343,Canada
30,31,Aviva,Insurance,62579,3588,655,United Kingdom
31,32,China Pacific Insurance,Insurance,61185,3562,271,China
32,33,China Merchants Bank,Banking,60433,14107,1281,China
33,34,Zurich Insurance Group,Insurance,59001,3834,439,Switzerland
34,35,Manulife Financial,Insurance,58840,4377,691,Canada
35,36,Prudential Financial,Insurance,57033,448,940,United States
36,37,Mitsubishi UFJ Financial Group,Banking,56838,7329,3250,Japan
37,38,Prudential,Insurance,55973,2118,516,United Kingdom
38,39,StoneX Group Inc,Investment Services,54139,169,13,United States
39,40,Goldman Sachs,Investment Services,53498,9459,1163,United States
40,41,Industrial Bank,Banking,53313,9655,1209,China
41,42,Shanghai Pudong Development,Banking,52628,8443,1219,China
42,43,Morgan Stanley,Investment Services,52047,10996,1115,United States
43,44,State Bank of India,Banking,51919,3018,662,India
44,45,Tokio Marine Holdings,Insurance,51516,1526,232,Japan
45,46,AIA Group,Insurance,50359,5779,326,China
46,47,China Mensheng Banking,Banking,49076,4972,1065,China
47,48,Power Corporation of Canada,Insurance,48183,1525,493,Canada
48,49,Talanx,Insurance,46788,766,221,Germany
49,50,Lloyds Banking Group,Banking,14592,1882,1183,United Kingdom